html,body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.content-wrapper {
    height: 100%;
}

div{
    text-align: center;
}
.leftSide{
    border-right: 0.1em solid black;
}
.headerToolpage{
    text-align: left;
}
.topRightSide{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid black;
}

.metricList {
    height: 100%;
}
.addButton{
    padding-right: 0;
}
.addBar{
    padding-top: 0.5em;
    border-bottom: 0.1em solid black;
}
.metricList{
    padding-top: 0.5em;
    padding-left: 0.8em;
}
.topRightSideshowedAddBar{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-color: white;
}
.cancelButton{
    padding-top: 0.5em;
}
.textDiv{
    text-align: left;
}
.topRightSideHeader{
    text-align: left;
    
}
.footer{
    border-top: 0.1em solid black;


}
.sort{
    padding-right: 0;
}
.anuki{
    height: 1em;
    width: 2em;
}
.img-fit{
    object-fit: cover;
}
.header{
    text-align: left;
}

