html,body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.content-wrapper {
    height: 100%;
}

div{
    text-align: center;
}
.leftSide{
    border-right: 0.1em solid black;
}
.headerToolpage{
    text-align: left;
}
.topRightSide{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid black;
}

.metricList {
    height: 100%;
}
.addButton{
    padding-right: 0;
}
.addBar{
    padding-top: 0.5em;
    border-bottom: 0.1em solid black;
}
.metricList{
    padding-top: 0.5em;
    padding-left: 0.8em;
}
.topRightSideshowedAddBar{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-color: white;
}
.cancelButton{
    padding-top: 0.5em;
}
.textDiv{
    text-align: left;
}
.topRightSideHeader{
    text-align: left;
    
}
.footer{
    border-top: 0.1em solid black;


}
.sort{
    padding-right: 0;
}
.anuki{
    height: 1em;
    width: 2em;
}
.img-fit{
    object-fit: cover;
}
.header{
    text-align: left;
}



/* Remove default bullets */
ul, .treeview {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  .treeview {
    margin: 30px 0;
    padding: 0;
  }

  .treeview ul {
    padding-left: 1rem;
  }

  .treeview li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "►";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .lastListItem  {
    margin-left: 4px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;    
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }